@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --accent: #2563eb;

  --bg-light: #ffffff;
  --text-light: #111827;

  --bg-dark: #0b0f14;
  --text-dark: #e5e7eb;
}

html {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont;
}
